<a href="https://colab.research.google.com/github/McReader/ml-intro/blob/2_data_exploration/2_data_exploration/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Context

In [23]:
import pandas as pd

titanic_data = pd.read_csv('train.csv')

titanic_data.head()

   PassengerId  Survived  Pclass  ...   Fare   Cabin  Embarked
0            0         1       1  ...  27.14  C12239         S
1            1         0       3  ...  13.35     NaN         S
2            2         0       3  ...  71.29     NaN         S
3            3         0       3  ...  13.04     NaN         S
4            4         1       3  ...   7.76     NaN         S

[5 rows x 12 columns]

# Data quality assessment

In [16]:
titanic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   PassengerId  100000 non-null  int64
 1   Survived     100000 non-null  int64
 2   Pclass       100000 non-null  int64
 3   Name         100000 non-null  object
 4   Sex          100000 non-null  object
 5   Age          96708 non-null   float64
 6   SibSp        100000 non-null  int64
 7   Parch        100000 non-null  int64
 8   Ticket       95377 non-null   object
 9   Fare         99866 non-null   float64
 10  Cabin        32134 non-null   object
 11  Embarked     99750 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 9.2+ MB

In [18]:
pd.isna(titanic_data).sum()

PassengerId        0
Survived           0
Pclass             0
Name               0
Sex                0
Age             3292
SibSp              0
Parch              0
Ticket          4623
Fare             134
Cabin          67866
Embarked         250
dtype: int64

In [45]:
titanic_data.dropna(subset=['Age', 'Ticket', 'Fare'], axis=0, inplace=True, how='any')
titanic_data

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

# Data exploration

In [38]:
titanic_data[['Survived', 'Pclass', 'Age', 'SibSp', 'Fare']].describe()

       Survived  Pclass  Age  SibSp  Fare
count       0.0     0.0  0.0    0.0   0.0
mean        NaN     NaN  NaN    NaN   NaN
std         NaN     NaN  NaN    NaN   NaN
min         NaN     NaN  NaN    NaN   NaN
25%         NaN     NaN  NaN    NaN   NaN
50%         NaN     NaN  NaN    NaN   NaN
75%         NaN     NaN  NaN    NaN   NaN
max         NaN     NaN  NaN    NaN   NaN

# Summary