<a href="https://colab.research.google.com/github/McReader/ml-intro/blob/1_data_manipulations/1_data_manipulations/Pandas_data_manipulations_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to complete this assignment
First, download [this Kaggle dataset](https://www.kaggle.com/hugomathien/soccer) and extract *sqlite* database. You may need to register at https://www.kaggle.com/ beforehand. Then complete 15 graded tasks below, the score is given in brackets. Finally submit the resulting `.ipynb` file to rs-app Auto-test.

- Do not delete or rename the variables given before the inscription `#your code here`, they are needed for the correct verification.
- Do not change the code in the last Notebook cell, it is required for the server check.
- Your Notebook must run completely without errors to be graded! Please check everything before submission by going *Cell -> Run All*

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [244]:
import sqlite3
import pandas as pd
import os
import numpy as np

pd.set_option('display.max_column', None)

In [4]:
# Leave that code unchanged, it is required for the server check!
db = sqlite3.connect(os.environ.get("DB_PATH") or 'database.sqlite')

In [156]:
# You may load the data from SQL table directly to the Pandas dataframe as
player_data = pd.read_sql("SELECT * FROM Player;", db)
league_data = pd.read_sql("SELECT * FROM League;", db)
match_data = pd.read_sql("SELECT * FROM Match;", db)
player_atributes_data = pd.read_sql("SELECT * FROM Player_Attributes;", db)

In [16]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [13]:
players_180_190 = player_data[player_data['height'].between(180, 190, inclusive="both")].shape[0]

In [14]:
assert(isinstance(players_180_190, int))

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>
**Hint:** you may want to cast your 'birthday' column to DateTime type by [pandas.to_datetime](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [25]:
from datetime import datetime

player_data['birthday'] = pd.to_datetime(player_data['birthday'])
players_1980 = player_data[player_data['birthday'].dt.year == 1980].shape[0]

In [26]:
assert(isinstance(players_1980, int))

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [38]:
highest_players = player_data.sort_values(["weight", "player_name"], ascending=(False, True)).head(10)['player_name'].to_list()

In [40]:
assert(len(highest_players) == 10)
assert(isinstance(highest_players, list))
for i in range(10):
    assert(isinstance(highest_players[i], str))

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [61]:
players_from_1980_to_1990 = player_data[player_data['birthday'].dt.year.between(1980, 1990, inclusive="both")]
players_from_1980_to_1990_count = players_from_1980_to_1990.groupby(player_data['birthday'].dt.year).size()
years_born_players = list(players_from_1980_to_1990_count.items())

In [64]:
assert(len(years_born_players) == 11)
assert(isinstance(years_born_players, list))
for i in range(10):
    assert(isinstance(years_born_players[i], tuple))
    assert(isinstance(years_born_players[i][0], int))
    assert(isinstance(years_born_players[i][1], int))

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [298]:
adriano = player_data[player_data['player_name'].str.startswith('Adriano')]
adriano_height = adriano['height']
adriano_mean = adriano_height.mean()
adriano_std = adriano_height.std()

In [293]:
assert(isinstance(adriano_mean, float))
assert(isinstance(adriano_std, float))

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [115]:
dow_with_min_players_born = player_data['birthday'].dt.day_name().value_counts().idxmin()

In [116]:
assert(isinstance(dow_with_min_players_born, str))

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

In [150]:
matches_in_league = match_data.groupby('league_id').size().rename("matches_count")
leagues_with_matches_count = pd.merge(league_data, matches_in_league, left_on="id", right_on="league_id")
league_most_matches = leagues_with_matches_count.sort_values(by=["matches_count", "name"], ascending=(False, True)).head(1)['name'].iloc[0]

In [151]:
assert(isinstance(league_most_matches, str))

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable

In [260]:
# max_matches_player = # Your code here
columns = 'home_player_1	home_player_2	home_player_3	home_player_4	home_player_5	home_player_6	home_player_7	home_player_8	home_player_9	home_player_10	home_player_11	away_player_1	away_player_2	away_player_3	away_player_4	away_player_5	away_player_6	away_player_7	away_player_8	away_player_9	away_player_10	away_player_11'.split('\t')

def get_series(column):
  return match_data[column]

series = list(map(get_series, columns))

players_match_counts = pd.concat(series).value_counts()
top_player_api_id = int(players_match_counts.first_valid_index())

max_matches_player = player_data[player_data['player_api_id'] == top_player_api_id]['player_name'].iloc[0]

In [204]:
assert(isinstance(max_matches_player, str))

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

**Hint:** You may use [dataframe.corr()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html) for calculating pairwise Pearson correlation.

In [263]:
player_characteristics = player_atributes_data.drop(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'], axis=1)

correlation = player_characteristics.corr(method='pearson')
# mask all the elements under the main diagonal by NaN values to eliminate duplicates
correlation_without_duplicates = correlation.mask(np.tril(np.ones(correlation.shape)).astype(bool))
top_correlated_features = correlation_without_duplicates.unstack().sort_values(ascending=False).head().index.to_list()

In [258]:
assert(len(top_correlated_features) == 5)
assert(isinstance(top_correlated_features, list))
for i in range(5):
    assert(isinstance(top_correlated_features[i], tuple))
    assert(isinstance(top_correlated_features[i][0], str))
    assert(isinstance(top_correlated_features[i][1], str))

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [322]:
player_atributes_data['date'] = pd.to_datetime(player_atributes_data['date'])

player_atributes_without_duplicates = player_atributes_data.sort_values('date', ascending=False).drop_duplicates('player_api_id')

neymar = player_data[player_data['player_name'].str.contains('neymar', case=False)]
neymar_id = neymar.iloc[0]['player_api_id']
neymar_characteristics = player_atributes_without_duplicates[player_atributes_without_duplicates['player_api_id'] == neymar_id].iloc[0]

neymar_characteristics
player_atributes_data_without_neymar = player_atributes_without_duplicates[player_atributes_without_duplicates['player_api_id'] != neymar_id]

cols=player_characteristics.columns

def euclidean_dist(df1):
  return np.linalg.norm(df1[cols].values - neymar_characteristics[cols].values)

players_names = player_data[['player_api_id', 'player_name']]
players_to_compare = players_names.merge(player_atributes_data_without_neymar, on='player_api_id')

distance_to_neymar = players_to_compare.apply(euclidean_dist, axis=1).rename('neymar_distance')
result = players_to_compare.join(distance_to_neymar).sort_values('neymar_distance')
neymar_similarities = result.head(5)['player_name'].to_list()

In [318]:
assert(len(neymar_similarities) == 5)
assert(isinstance(neymar_similarities, list))
for i in range(5):
    assert(isinstance(neymar_similarities[i], str))

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [327]:
# match_data['date'] = pd.to_datetime(match_data['date'])

borussia_dortmud_id = 9789
bundesliga_id = 7809

borussia_bundesliga_2008_2009_matches = match_data[(match_data['home_team_api_id'] == borussia_dortmud_id) & (match_data['season'] == '2008/2009') & (match_data['league_id'] == bundesliga_id)].shape[0]

borussia_bundesliga_2008_2009_matches

17

In [ ]:
# assert(isinstance(borussia_bundesliga_2008_2009_matches, int))

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [ ]:
team_most_matches_bundesliga_2008_2009 = 1

In [ ]:
# assert(isinstance(team_most_matches_bundesliga_2008_2009, int))

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [ ]:
arsenal_won_matches_2015_2016 = 1

In [ ]:
# assert(isinstance(arsenal_won_matches_2015_2016, int))

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [ ]:
team_highest_winrate_2015_2016 = 1

In [ ]:
# assert(isinstance(team_highest_winrate_2015_2016, str))

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [ ]:
highest_gap_england_2010_2011 = 1

In [ ]:
# assert(isinstance(highest_gap_england_2010_2011, int))

### Warning! Do not change anything in the area below

In [ ]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")